{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}

    {# {{ dump(colonnes) }}

    {{ dump(products) }} #}

    <div class="container my-5">

        <h2 class="text-center text-white bg-dark title mx-auto">Tous les articles enregistrés en base</h2>

            <table class="table table-stripperv col-md-6">
                <a href=" {{ path ('admin_products_create')}}" class="btn btn-primary">Ajouter un produit</a>

                <tr class="text-center">

                    {% for row in colonnes %}

                        <th> {{ row|upper }} </th>

                    {% endfor %}

                    <th>CATEGORY</th>
                    <th></th>

                </tr>


                    {% for p in products %}

                        <tr class="text-center">

                            <td class="align-middle">{{ p.id }}</td>
                            <td class="align-middle">{{ p.title }}</td>
                            <td class="align-middle">{{ p.content }}</td>
                            <td class="align-middle">{{ p.price }}</td>
                            <td class="align-middle"> <img class="img-fluid" src="{{ asset('uploads/images/')}}{{ p.picture }}"></td>
                            <td class="align-middle">{{ p.category.slug }}</td>
                            <td class="align-middle">
                                <a href="{{ path ('admin_products_edit', {'id' : p.id} ) }}" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>

                                <a onclick="return(confirm('Voulez-vous vraiment supprimer cet utilisateur ?'))" href="{{ path ('admin_products_delete', {'id' : p.id} ) }}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>

                            
                            </td>

                        </tr>

                    {% endfor %}
                                
                
            
            </table>


    </div>

{% endblock %}