{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<div class="container col-8 my-4">

    <h1 class="display-4 bg-dark text-white text-center rounded shadow-lg">Nos Articles </h1>

    <div class="row mt-3 justify-content-center">

        {% for p in product %}

        <div class="card bg-light mx-2 col-md-3 col-sm-5 col-xs-10 mb-3 shadow-sm" style="max-width: 20rem;">
            <div class="card-header d-flex justify-content-center">
                <img class="img-fluid" src="{{ p.picture }}">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">{{ p.title }}</h4>
                <p class="card-text">{{ p.content }}</p>
                <small class="text-success"> Prix: {{ p.price }}€ </small>
            </div>
            <div class="row">
            <small class="text-info text-center"><a href="#"> {{ p.category.name}}</a></small>
            </div>

            <div class="row justify-content-center">
                <a class="btn btn-sm col-4 m-2 btn-light" href="{{path('app_show', {'id' : p.id}) }}"> Voir </a>
                <a class="btn btn-sm col-4 m-2 btn-success" href="{{ path('cart_add', {'id' : p.id})}}"> Ajouter </a>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}




