<div style="min-height: 10vh !important" class="ghost">
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SYMCOM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path ('app_home') }}">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path ('app_product') }}">Nos produits</a>
        </li>

        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        {% endif %}

        {% include "_incs/_cat_nav.html.twig" %}

      </ul>
      
      <a href="{{ path ('cart_show')}}"><i class="bi bi-cart-fill"></i>Panier</a>
      
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      
       <nav class="navbar">

      <ul class="navbar-nav narbar-right">

        {% if not app.user %}
        <li class="nav-item"><a href=" {{ path ('app_login')}} " class="nav-link"> <i class="fa-solid fa-right-to-bracket"></i> <small class="text-muted">Connexion</small></a></li>

        <li class="nav-item"><a href=" {{ path ('app_register')}} " class="nav-link"><small class="text-muted">Inscription</small></a></li>

        {% else %}

          <li class="nav-item"><a href=" {{ path ('app_logout')}} " class="nav-link"><i class="fa-solid fa-power-off"></i><small class="text-muted"> Connecté(e)</small></a></li>

        {% endif %}
      </ul>
    </div>

   
  
  
  </div>
</nav>